@import "theme";
/* You can add global styles to this file, and also import other style files */
.nav-active {
    background-color: mat-color($mat-grey, 100) !important;
    color: mat-color($accent) !important;
}

.nav-active mat-icon {
    color: mat-color($accent) !important;
}

/* modifies the top small portion of the side navbar */
[_nghost-c2] mat-toolbar[_ngcontent-c2] {
    background: #78909C;
    color: white;
}

/* for modifying whatever is around text in top left of side navbar */
body .md-subhead {
    font-size: 32px;
    letter-spacing: normal;
}

/* this is for modifying whats behind the navbar..
   it has been used to fix the white corners that appear
   after setting a border radius in app.component.css */
[_nghost-c1] > mat-sidenav-container > mat-sidenav {
    background: #7E57C2;
}

/* for modifying the text in the top bar next to the three horizontal bars
   used for opening side navbar*/
[layout-align="start center"] > *, [layout-align="center center"] > *,
[layout-align="end center"] > *, [layout-align="space-between center"] > *,
[layout-align="space-around center"] > * {
    color: black;
}

/* for modifying icons in navbar when unclicked*/
mat-sidenav .mat-list-item-content mat-icon {
    color: black;
}

/* changes the color of the text of both side nav bar texts*/
.mat-nav-list .mat-list-item-content {
    color: black;
}
