<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title id="summary-list-title">Summarys</mat-card-title>
            <form>
                <!--# The Angular feature-->
                <label> Emotion:</label>
                <select name="dropdown" id="summaryEmotion" #input placeholder="Filter by Emotion" (input)="summaryEmotion = $event.target.value">
                    <option selected value="All" >All Emotions</option>
                    <option value="Radiant">Radiant</option>
                    <option value="Happy">Happy</option>
                    <option value="Meh">Meh</option>
                    <option value="Down">Down</option>
                    <option value="Sad">Sad</option>
                    <option value="Anxious">Anxious</option>
                </select>
            </form>
            <!--<material-datepicker [(ngModel)]="yourModelDate"></material-datepicker>-->

            <!--<input matInput [matDatepicker]="picker" placeholder="Choose a start date" [(ngModel)]="inputStartDate">
            <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>-->

            <mat-form-field class="start">
                <input matInput [matDatepicker]="start" placeholder="Choose a Start Date">
                <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #start></mat-datepicker>
            </mat-form-field>


            <mat-form-field class="end">
                <input matInput [matDatepicker]="end" placeholder="Choose an End Date">
                <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #end></mat-datepicker>
            </mat-form-field>




            <br>

            <mat-divider></mat-divider>
            <div *ngFor="let summary of this.filterSummarys(summaryEmotion)">
                {{aveTime(summaryEmotion, summary.time)}}
            </div>

            Total Number of {{summaryEmotion}} Entries: {{totalNumberEmotions(summaryEmotion, start, end)}}<br>
            {{returnTime(summaryEmotion)}}<br>

            <!--Total Number of Entries: {{totalNumberEntries()}}<br>
            Total Number of Radiant Entries: {{totalNumberEmotions("radiant")}}<br>
            Total Number of Happy Entries: {{totalNumberEmotions("happy")}}<br>
            Total Number of Meh Entries: {{totalNumberEmotions("meh")}}<br>
            Total Number of Down Entries: {{totalNumberEmotions("down")}}<br>
            Total Number of Sad Entries: {{totalNumberEmotions("sad")}}<br>
            Total Number of Anxious Entries: {{totalNumberEmotions("anxious")}}<br>-->
                <mat-accordion *ngIf="summarys; else summarysError" >
                </mat-accordion>
                <ng-template #summarysError>
                    <mat-error>
                        There was a problem loading the users. Possibly the server is down or perhaps there are network
                        issues.
                    </mat-error>
                    <mat-error>
                        Please wait a bit and try again or start the server.
                    </mat-error>
                </ng-template>
        </mat-card>
    </div>
</div>
