
<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title id="summary-list-title">Summarys</mat-card-title>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

            <form>
                <!--# The Angular feature-->
                <label> Mood:</label>
                <select name="dropdown" id="summaryMood" #input placeholder="Filter by Mood" (input)="summaryMood = $event.target.value">
                    <option id ="dropdownAllMoods" selected value="All" >All Moods</option>
                    <option id = "dropdownRadiant" value="Radiant">Radiant</option>
                    <option id ="dropdownHappy" value="Happy">Happy</option>
                    <option id ="dropdownMeh" value="Meh">Meh</option>
                    <option id ="dropdownDown" value="Down">Down</option>
                    <option id ="dropdownSad" value="Sad">Sad</option>
                    <option id ="dropdownAnxious" value="Anxious">Anxious</option>
                </select>
            </form>

            <mat-form-field class="start">
                <input
                    id = "startDate"
                    matInput [matDatepicker]="start"
                    placeholder="Choose a Start Date"
                    [(ngModel)]="startDate">
                <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #start></mat-datepicker>
            </mat-form-field>


            <mat-form-field class="end">
                <input
                    id = "endDate"
                    matInput [matDatepicker]="end"
                    placeholder="Choose an End Date">
                <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #end></mat-datepicker>
            </mat-form-field>

            <br>

            <mat-divider></mat-divider>
            <div *ngFor="let summary of this.filterSummarys(summaryMood)">
                {{aveTime(summaryMood, summary.date)}}
            </div>

            Total Number of {{summaryMood}} Entries: {{totalNumberMoods(summaryMood, start, end)}}<br>
            {{returnTime(summaryMood)}}<br>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Would you like to see more information?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description >{{returnMoreData(summaryMood, "twelveAm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "oneAm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "twoAm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "twreeAm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "fourAm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "fiveAm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "sixAm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "sevenAm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "eightAm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "nineAm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "tenAm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "elevenAm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "twelvePm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "onePm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "twoPm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "treePm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "fourPm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "fivePm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "sixPm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "sevenPm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "eightPm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "ninePm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "tenPm")}}</mat-panel-description>
                    <mat-panel-description >{{returnMoreData(summaryMood, "elevenPm")}}</mat-panel-description>


                </mat-expansion-panel>
            </mat-accordion>


            <!--<button id = "moreInfoButton" style="border: 2px dotted;" mat-raised-button (click)="openDialog()">Would you like to see more info?</button>-->





            <!--   <ul class="bar-graph">
                 &lt;!&ndash;  <li class="bar-graph-axis">
                       <div class="bar-graph-label">100%</div>
                       <div class="bar-graph-label">80%</div>
                       <div class="bar-graph-label">60%</div>
                       <div class="bar-graph-label">40%</div>
                       <div class="bar-graph-label">20%</div>
                       <div class="bar-graph-label">0%</div>
                   </li>&ndash;&gt;
                   <li class="bar alert" style="height:{{getHeight(200)}}%;" title="2am">
                       <div class="percent">{{getHeight(200)}}<span></span></div>
                   </li>
                   <li class="bar alert" style="height:{{getHeight(400)}}%;" title="4am">
                       <div class="percent">{{getHeight(400)}}<span></span></div>
                   </li>
                   <li class="bar alert" style="height:{{getHeight(600)}}%;" title="6am">
                       <div class="percent">{{getHeight(600)}}<span></span></div>
                   </li>
                   <li class="bar alert" style="height:{{getHeight(800)}}%;" title="8am">
                       <div class="percent">{{getHeight(800)}}<span></span></div>
                   </li>
                   <li class="bar alert" style="height:{{getHeight(1000)}}%;" title="10am">
                       <div class="percent">{{getHeight(1000)}}<span></span></div>
                   </li>
                   <li class="bar alert" style="height: {{getHeight(1200)}}%;" title="12pm">
                       <div class="percent">{{getHeight(1200)}}<span></span></div>
                   </li>
                   <li class="bar alert" style="height: {{getHeight(1400)}}%;" title="2pm">
                       <div class="percent">{{getHeight(1400)}}<span></span></div>
                   </li>
                   <li class="bar alert" style="height: {{getHeight(1600)}}%;" title="4pm">
                       <div class="percent">{{getHeight(1600)}}<span></span></div>
                   </li>
                   <li class="bar alert" style="height: {{getHeight(1800)}}%;" title="6pm">
                       <div class="percent">{{getHeight(1800)}}<span></span></div>
             e      </li>
                   <li class="bar alert" style="height: {{getHeight(2000)}}%;" title="8pm">
                       <div class="percent">{{getHeight(2000)}}<span></span></div>
                   </li>
                   <li class="bar alert" style="height: {{getHeight(2200)}}%;" title="10pm">
                       <div class="percent">{{getHeight(2200)}}<span></span></div>
                   </li>
                   <li class="bar alert" style="height: {{getHeight(2400)}}%;" title="12am">
                       <div class="percent">{{getHeight(2400)}}<span></span></div>
                   </li>
               </ul>--->
            <!--Total Number of Entries: {{totalNumberEntries()}}<br>
            Total Number of Radiant Entries: {{totalNumberMoods("radiant")}}<br>
            Total Number of Happy Entries: {{totalNumberMoods("happy")}}<br>
            Total Number of Meh Entries: {{totalNumberMoods("meh")}}<br>
            Total Number of Down Entries: {{totalNumberMoods("down")}}<br>
            Total Number of Sad Entries: {{totalNumberMoods("sad")}}<br>
            Total Number of Anxious Entries: {{totalNumberMoods("anxious")}}<br>-->

            <mat-accordion *ngIf="summarys; else summarysError" >
            </mat-accordion>


            <ng-template #summarysError>
                <mat-error>
                    There was a problem loading the users. Possibly the server is down or perhaps there are network
                    issues.
                </mat-error>
                <mat-error>
                    Please wait a bit and try again or start the server.
                </mat-error>
            </ng-template>


        </mat-card>
    </div>
</div>
