
<div class="add-emoji" layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>New Emoji</mat-card-title>
                <mat-divider></mat-divider>
            <mat-card-content>
            <mat-form-field>
                <input matInput #input id="emotionField" placeholder="Emotion" [(ngModel)]="data.emoji.emotion">
            </mat-form-field>
                <!--
            <mat-form-field>
                <input matInput #input id="ageField" type="number" placeholder="Age" [(ngModel)]="data.user.age">
            </mat-form-field>
            <mat-form-field>
                <input matInput #input id="companyField" placeholder="Company" [(ngModel)]="data.user.company">
            </mat-form-field>
            <mat-form-field>
                <input matInput #input id="emailField" placeholder="Email" [(ngModel)]="data.user.email">
            </mat-form-field>
            -->
                &lt;!&ndash; [mat-dialog-close]="data.user" causes the data.user object to be returned when the dialog is closed. &ndash;&gt;
                <button mat-button id="confirmAddEmojiButton" [mat-dialog-close]="data.emoji" type="button">Add emoji</button>
            </mat-card-content>
        </mat-card>
        <button mat-raised-button id="exitWithoutAddingButton" (click)="onNoClick()" type="button">Exit</button>
    </div>
</div>

