.emojiRadiant {
    background: url(emoji/emoji-radiant.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 128px;
    width: 128px;
    margin: auto;
    margin-bottom: 10px;
}

.emojiHappy {
    background: url(emoji/emoji-happy.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 128px;
    width: 128px;
    margin: auto;
    margin-bottom: 10px;
}

.emojiMeh {
    background: url(emoji/emoji-meh.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 128px;
    width: 128px;
    margin: auto;
    margin-bottom: 10px;
}

.emojiDown {
    background: url(emoji/emoji-down.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 128px;
    width: 128px;
    margin: auto;
    margin-bottom: 10px;
}

.emojiSad {
    background: url(emoji/emoji-sad.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 128px;
    width: 128px;
    margin: auto;
    margin-bottom: 10px;
}

.emojiAnxious {
    background: url(emoji/emoji-anxious.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 128px;
    width: 128px;
    margin: auto;
    margin-bottom: 10px;
}

#confirmAddEmotionButton {
    color: black;
    background-color: dodgerblue;
    display: block;
    width: 10%;
    text-align: center;
    margin:0 auto;
    margin-top: 3%;

}
