<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title id="hello-world">About</mat-card-title>
            <!--<mat-card-subtitle>Below is a button to record your emotion.</mat-card-subtitle>-->
            <mat-divider></mat-divider>
            <mat-card-content>
                <a href="https://www.flaticon.com/packs/emoji-3" target="_blank">Emojis designed by Freepik from Flaticon.</a>
            </mat-card-content>
        </mat-card>
    </div>
</div>
